@font-face {
    font-family: 'JasonHandwriting3';
    src: url('../JasonHandwriting3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* google字形 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
body {
    margin: 0;
    background-color: #fff;
    height: 4000px;
    width: 100vw;
    font-family: 'JasonHandwriting3','Noto Sans TC', sans-serif;
    color: #333;
    cursor: url("../images/cursor2.png"), auto!important;
  }
  a:hover, button:hover{
    cursor: url("../images/pointer.png"), auto!important;
  }
  
  #sticky {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/color.jpg") center center fixed no-repeat;
    background-size: cover;
  }
  /* 手機 */
  .phoneShow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 800px;
  }
  .phoneShow .phone {
    position: relative;
    transform: translate(0, -260%);
    max-width: 325px;
    width: 35%;
    height: 100px;
    opacity: 1;
}
.phoneShow .phone img:nth-child(1) {
    position: absolute;
    left: 0;
    top: -0.6%;
    width: 100%;
    z-index: 2;
    display: block;
}
.phoneShow .phone img:nth-child(2) {
    position: absolute;
    left: 0.5%;
    top: 2%;
    width: 100.3%;
    z-index: 2;
    display: none;
}
.phoneShow .phone img:nth-child(3) {
    position: absolute;
    left: 0;
    top: -0.6%;
    width: 99.5%;
    z-index: 2;
    display: none;
}
.phoneShow  p.phoneIntro {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
    /* max-width: 600px; */
    width: 50%;
    transform: translateY(-20%);
    opacity: 1;
    font-size: 5em;
    text-align: center;
    display: inline-block;
  }
  
  p.right {
    right: 50%;
  }
  
  /* 設計師 */
  .designer {
    display: flex;
    position:absolute;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .designer .designIntro {
    position: relative;
    font-size: 5em;
    width: 45%;
    opacity: 0;
  }
  .wrapper {
    width: 45%;
    position: relative;
    opacity: 0;
  }
  .wrapper .outer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .wrapper .card{
    background: #fff;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 5.9%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    justify-content: space-between;
    border-radius: 100px 20px 20px 100px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    animation: animate 10s linear infinite;
  }
  .outer:hover .card{
    animation-play-state: paused;
  }
  .outer .card:nth-child(1) {
    animation-delay: 0s;
  }
  .outer .card:nth-child(2) {
    animation-delay: 2s;
  }
  .outer .card:nth-child(3) {
    animation-delay: 4s;
  }
  .outer .card:nth-child(4) {
    animation-delay: 6s;
  }
  .outer .card:nth-child(5) {
    animation-delay: 8s;
  }
  .outer .card:nth-child(6) {
    animation-delay: 10s;
  }
  @keyframes animate {
    0%{
      opacity: 0;
      transform: translateY(100%) scale(0.5);
    }
    5%, 20%{
      opacity: 0.4;
      transform: translateY(100%) scale(0.7);
    }
    25%, 40%{
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0%) scale(1);
    }
    45%, 60%{
      opacity: 0.4;
      transform: translateY(-100%) scale(0.7);
    }
    65%, 100%{
      opacity: 0;
      transform: translateY(-100%) scale(0.5);
    }
  }
  .card .content{
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .wrapper .card .img{
    display: block;
    position: absolute;
    top: -28%;
    margin-left: -3%;
    height: 80px;
    width: 80px;
    position: absolute;
    left: -5px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }
  .card .img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  .card .details{
    margin-left: 80px;
  }
  .details span{
    font-size: 22px;
  }
  .details p {
    font-size: 18px;
  }

   /* 購買流程 */ 
  .bar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    /* 確保不被壓住可以按 */
    z-index: 2;
  }
  .bar h1 {	 	
    font-size: 5em;  
    margin-top:125px;
    text-align:center;
    line-height:23px;
    opacity: 0;
  }
  
  .process-wrapper {
    max-width:1080px;
    margin: auto;
    opacity: 0;
  }
  
  #progress-bar-container {
    position:relative;
    width:90%;
    margin:auto;
    height:100px;
    margin-top:65px;
  }
  
  #progress-bar-container ul {
    padding:0;
    margin:0;
    padding-top:15px;
    z-index:9999;
    position:absolute;
    width:100%;
    margin-top:-40px
  }
  /* 空圓 */
  #progress-bar-container li:before {
    cursor: url("../images/pointer.png"), auto!important;
    content:" ";
    display:block;
    margin:auto;
    width:30px;
    height:30px;
    border-radius:50%;
    border:solid 1px #aaa;
    transition:all ease 0.3s;
       
  }
  /* 滿圓 */
  #progress-bar-container li.active:before, #progress-bar-container li:hover:before {
    border:solid 1px #fff;
    background-color: pink; 
  }
  #progress-bar-container li {
    list-style:none;
    float:left;
    width:20%;
    text-align:center;
    color:#aaa;
    text-transform:uppercase;
    font-size:11px;
    cursor:pointer;
    transition:all ease 0.2s;
    vertical-align:bottom;
    height:60px;
    position:relative;
  }
  /* 進度條文字 */
  #progress-bar-container li .step-inner {
    position:absolute;
    width:100%;
    font-size: 2em;
  }
  
  #progress-bar-container li.active, #progress-bar-container li:hover {
    color:#444;
  }
  
  /* 點 */
  #progress-bar-container li:after {
    cursor: url("../images/pointer.png"), auto!important;
    content:" ";
    display:block;
    width:6px;
    height:6px;
    background:#777;
    margin:auto;
    border:solid 7px #fff;
    border-radius:50%;
    margin-top:40px;
    box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
    transition:all ease 0.2s;
       
  }
  #progress-bar-container li:hover:after {
    background:#555;
  }
  #progress-bar-container li.active:after {
    background:pink;
  }
  
  /* 線 */
  #progress-bar-container #line {
    width:80%;
    margin:auto;
    background: #eee;
    height:6px;
    position:absolute;
    left:10%;
    top:57px;
    z-index:1;
    border-radius:50px;
    transition:all ease 0.9s;
  }
  
  #progress-bar-container #line-progress {
    content:" ";
    width:3%;
    height:100%;
    background: pink;	 
    background: pink; 
    position:absolute;
    z-index:2;
    border-radius:50px;
    transition:all ease 0.9s;
  }
  /* 文字框 */
  #progress-content-section {
    width:90%;
    margin: auto;
    background: #f3f3f3;
    border-radius: 4px;
  }
  
  #progress-content-section .section-content {
    padding:30px 40px;
    text-align:center;
  }
  
  #progress-content-section .section-content h2 {
    font-size:2em;
    text-transform:uppercase;
    color:#333;
    letter-spacing:1px;
  }
  
  #progress-content-section .section-content p {
    font-size:1.8em;
    line-height:1.8em;
    color:#777;
  }
  
  #progress-content-section .section-content {
    display:none;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode:forwards;
    transform:translateY(15px);
    opacity:0;
  }
  
  #progress-content-section .section-content.active {
    display:block;
  }
  
  /* 最後 */
  .last {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .last h1 {
    font-size: 5em;
    width: 100%;
    text-align: center;
    opacity: 0;
  }
  .last .logo {
    font-size: 10em;
    width: 100%;
    text-align: center;
    opacity: 0;
  }
  .last a {
    display: block;
    font-size: 4em;
    width: 100%;
    height: 100px;
    text-align: center;
    opacity: 0;
  }
  .last a:hover {
    color: rgb(255, 116, 116);
  }
  @keyframes FadeInUp {
    0% {
      transform:translateY(15px);
      opacity:0;
    }
    
    100% {
      transform:translateY(0px);
      opacity:1;
    }
  }
  @media screen and (max-width: 1000px) {
    .designer .designIntro, .last h1, .last a,  .phoneShow  p.phoneIntro {
        width: 90%;
        font-size: 28px;
    }
    .phoneShow p.phoneIntro
    {
      transform: translateY(80%);
    }
    .wrapper {
      width: 80%;
      top:-20%;
    }
    .wrapper .card .img {
      width: 60px;
      height: 60px;
    }
    .phoneShow .phone {
      transform: translate(0, -106%);
      width: 270px;
    }
  }
  @media screen and (max-width: 600px)
  {
    #sticky {
      background: url("../images/color2.jpg") center center fixed no-repeat;
      background-size: cover;
    }
    .phoneShow .phone {
      width: 200px;
      transform: translate(0, -69%);
    }
   .phoneShow p.phoneIntro
    {
      transform: translateY(-9%);
    }
    #progress-bar-container li .step-inner {
      font-size: 16px;
    }
    .bar h1 {
      font-size: 28px;
    }
    #progress-content-section .section-content p {
      font-size: 18px;
    }
    #progress-content-section .section-content p {
      top: 7%;
    }
  }
  @media screen and (max-width: 350px)
  {
    .phoneShow .phone {
      width: 150px;
      transform: translate(0, 11%);
    }
  }
  @media screen and (max-width: 450px)
  {
    .wrapper .card .img {
      top: 14%;
      margin-left: 2%;
    }
  }