/* 機色 */
.i12-white {
    background-color: #fff;
}
.i12-black {
    background-color: #000;
}
.i12-green {
    background-color: rgb(206, 247, 187);
}
.i12-red {
    background-color:rgb(173, 32, 32);
}
.i12-blue {
    background-color: rgb(49, 76, 134);
}
.ise-white {
    background-color: #fff;
}
.ise-black {
    background-color: #000;
}
.ise-red {
    background-color:rgb(173, 32, 32);
}
/* 殼色 */
.case-white {
    background-color: #fff;
}
.case-pink {
    background-color: pink;
}
.case-purple {
    background-color: rgb(209, 170, 219);
}
.case-blue {
    background-color: rgb(184, 229, 255);
}
.case-gray {
    background-color: rgb(184, 184, 184);
}
/* 手機 */
.i12 {
    position: absolute;
    left: 50%;
    transform: translate(-103%,-333%);
    width: 13%;
  }
.ise {
    position: absolute;
    left: 50%;
    transform: translate(-93%,-850%);
    width: 13%;
}