/* 免費可商用字體 */
@font-face {
  font-family: 'JasonHandwriting3';
  src: url('../JasonHandwriting3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* google字形 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html {
  min-width: 250px;
}
body{
  background: #fff;
  font-family: 'JasonHandwriting3','Noto Sans TC', sans-serif;
  cursor: url("../images/cursor2.png"), auto!important;
}
a:hover, button:hover, input[type='submit']:hover{
  cursor: url("../images/pointer.png"), auto!important;
}
nav{
  background: #ffc8c8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  position: fixed;
  width: 100%;
  z-index: 99;
}
nav .logo{
  color: #fff;
  font-size: 2em;
  font-weight: 600;
}
/* 左欄 */
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ffa1a1;
}
/* 搜尋框 */
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #ffdfdf;
  min-width: 18%!important;
  border-radius: 40px;
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: rgb(255, 180, 180)!important;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 17px;
  cursor: pointer;
}
/* 小螢幕使用icon */
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .cancel-icon {
  color:"#ff7f7f";
}
nav .menu-icon i,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #ffc8c8;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
/* 搜尋框 */
  nav form:before{
    position: absolute;
    content: "";
    top: 2px;
    right: 12px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 8px solid transparent;
    border-bottom-color: #ffdfdf;
    margin: -20px 0 0;
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon i{
    display: block;
  }
  nav .menu-icon i.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
nav .logo.space{
  color: rgb(255, 138, 138);
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}
.footer {
  width: 100%;
  padding:5%;
  background-color: #ffc8c8;
  font-size: 1.2rem;
  margin-top: 5%;
  color: #fff;
}
.footer span {
  display: block;
  text-align: center;
}
@media (max-width: 900px){
  .footer {
    font-size: 1rem;
  }
}
@media (max-width: 400px){
  .footer {
    font-size: .6rem;
  }
}
