* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 20px;
    line-height: 20px;
}
label:hover {
  cursor: url("../images/pointer.png"), auto!important;
}
.listIndex, .patternAmount {
  display: none;
}
.container{
  transition: 0.5s;
}
.container.active{
  /* 模糊 */
  filter: blur(20px);
    /* 阻止點擊*/
  pointer-events: none;
  user-select: none;
}
#popup{
  position:fixed;
  top:30%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 600px;
  min-width: 200px;
  width: 90%;
  padding: 4%;
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
  background-color: rgb(248, 248, 248);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  cursor: default !important;
}
#popup.active{
  top:50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
#popup h2 {
  padding: 2% 0;
}
#popup p {
  font-size: .7em;
  color: rgb(104, 104, 104);
}
#popup button{
  position: relative;
  padding: 5px 20px;
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  background: #111;
  cursor: pointer !important;
}
#popup table {
  width: 90%;
}
#popup table td {
  height: 35px;
}
#popup table input {
  background: transparent;
  width: 60%;
  color: #ce7d88;
  border: none;
  border-bottom: 1px solid #333;
  padding: 1.5%;
  font-weight: 100;
  font-size: 1em;
}
#popup table input:focus {
  color: #ce7d88;
  outline: none;
  border-bottom: 1.2px solid rgba(206, 125, 136, 0.7);
  font-size: 1.0em;
  transition: 0.8s all ease;
}
#popup table input::placeholder {
  color: #f6f6f6;
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: 100;
}
#popupp table input:focus::placeholder {
  opacity: 0;
}

#popup table #amount {
  width: 20%;
  padding: 1%;
  border: 1px solid #333;
}
#popup table #amount:focus {
  border: 1.2px solid rgba(206, 125, 136, 0.7);
}
#itemPicture {
  position: relative;
  width: 150px;
  height: 150px;
}
#itemPicture #phoneCasePicture{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#itemPicture #patternPicture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}
.main {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-top: 80px;
}
.display {
    position: relative;
    width: 65%;
    height: 680px;
    min-width: 200px;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/* 商品資訊 */
.information {
  position: relative;
  float: right;
  top: -41%;
  right: -37%;
  display: flex;
  z-index: 2;
  width: 40%;
  height: 0%;
}
.information span.im {
  position: absolute;
  display: block;
  padding:10px;
  font-size: .8em;
  width: 60%;
  border-radius: 5px;
  background-color: rgba(255, 159, 159, .3);
}
/* 左右按鈕 */
.display button {
  width: 60px;
  height: 60px;
  z-index: 2;
}
.display #right {
  position: absolute;
  left: 95%;
  top: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}
.display #left {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}
.display button i {
  font-size: 1.3em;
  color: rgba(51, 51, 51, 0.3);
}
.display button:hover i, .display .sign button i:hover {
  color: rgba(51, 51, 51, 0.6);
}

/* 手機殼 */
.item #phoneCase {
    position: absolute;
    left: 50%;
    width: 72.5%;
    transform: translate(-50%, 8%);
    z-index: 1;
}
/* 手 */
.item #frontHand {
    position: absolute;
    left: 50%;
    width: 59.15%;  
    transform: translate(-61%,34%);
    z-index: 2;
}
/* 圖案 */
.item #pattern {
  position: absolute;
    left: 50%;
    width: 26%;
    transform: translate(-50%,-67%);
    z-index: 3;
}
.itemUp {
  animation: anim 2s forwards;  
}
.style {
    position: relative;
    width: 35%;
    display: flex;
    padding: 5% 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 商品資訊 */
.info {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  /*價格  */
.info  h1{
      color: #333;
  }
.info span {
    overflow: hidden;
    position: relative;
    float: left;
    top: 1.1em;
    animation: .3s swift-up ease-in-out forwards;
    margin: 0;
    font-size: 1.1em;
    line-height: 1.3em;
      /* 字距縮減 */
    letter-spacing: -2px;
    color: #c7bcba;
  }
.info  p {
    padding-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3em;
    display: block;
    position: relative;
    float: left;
    top: .8em;
    opacity: 0;
    animation: .5s swift-up ease-out forwards, .5s fade-in ease-out forwards;
    animation-delay: .8s;
  }
    /* 下壓感按鈕 */
  button {
    font-family: 'JasonHandwriting3';
  }
p button {
  margin: 0 0 5% 10%;
  font-size: .5em;
  padding: .4em .8em;
  border-radius: 6px;
  box-shadow: 0 5px 0 0#ffadad;
  background: #ffd5d5;
  color: #fff;
  transition: all .1s ease-out;
}

p button:hover {
     /* 縮小下陰影，產生按壓效果 */
  background: #ffdfe8;
  box-shadow: 0 4px 0 0 #ffadad;
  transform: translateY(1px);
}

p button:hover:active {
  /* 縮小下陰影，產生按壓效果 */
  box-shadow: 0 1px 0 0 #ffadad;
  transform: translateY(4px);
}
  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
  
  .info i {
    font-style: normal;
    position: relative;
    top: 2em;
    animation: .5s swift-up ease-in-out forwards;
  }
  
  /* 文字彈出動畫 */
  @keyframes swift-up {
    to {
      top: 0rem;
    }
  }
span:nth-of-type(1) {
    animation-delay: 0s;
  }
  
  span:nth-of-type(2) {
    animation-delay: .1s;
  }
  
  span:nth-of-type(3) {
    animation-delay: .2s;
  }
  
  span:nth-of-type(4) {
    animation-delay: .3s;
  }
  
  span:nth-of-type(5) {
    animation-delay: .4s;
  }
  
  span:nth-of-type(6) {
    animation-delay: .5s;
  }
  span:nth-of-type(7) {
    animation-delay: .5s;
  }

  span:nth-of-type(1) i {
    animation-delay: 0s;
  }
  
  span:nth-of-type(2) i {
    animation-delay: .1s;
  }
  
  span:nth-of-type(3) i {
    animation-delay: .2s;
  }
    
  span:nth-of-type(4) i {
    animation-delay: .3s;
  }
  
  span:nth-of-type(5) i {
    animation-delay: .4s;
  }
  
  span:nth-of-type(6) i {
    animation-delay: .5s;
  }
  span:nth-of-type(7) i{
    animation-delay: .5s;
  }
  #patternNumber {
    font-weight: 600;
    color: pink;
  }
/* 商品樣式選擇 */
li {
	list-style: none;
}
.accordion {
    width: 95%;
    opacity: 0;
	overflow: hidden;
	/* 圓角 */
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  animation: 1.5s show-up ease-in-out forwards;
}
@keyframes show-up {
  to {
    opacity: 1;
  }
}
.accordion > li {
	width: 100%;
}
.accordion > li input {
	/* 隱藏按鈕 */
	display: none;
}
.accordion > li> label {
	position: relative;
	/* label轉block 才能設寬高 */
	display: block;
	width: 100%;
  font-size: 1em;
	padding: 1em 50px;
	color: #333;
	background-color: #fff;
	cursor: pointer;
    z-index: 1;
}
/* 三角指示 */
.accordion > li> label i {
	position: absolute;
	/* 垂直居中 */
	top: calc(50%-12px);
	left: 1em;
	font-size: 1em;
	transition: all 0.5s;
}
/* 下三角 */
.accordion > li> label::after {
	content: "";
	position: absolute;
	right: 25px;
	bottom: -10px;
	/* 正方形 */
	width: 20px;
	height: 20px;
	/* 繼承父顏色 */
	background-color: inherit;
	/* 旋轉露出下三角 */
	transform: rotate(45deg);
}
.accordion > li> label:hover {
	background-color: #fafafa;
}
/* 除了第一選單 其餘加下邊框 */
.accordion > li:not(:first-child) >label {
	border-top: 1px solid #dddddd;
}
.accordion > li ol {
	width: 100%;
	background-color: rgb(236, 236, 236);
}
/* 選項 */
.accordion > li ol li {
	position: relative;
	width: 100%;
	height: 0;
	line-height: 50px;
	padding-left: 10px;
  padding-right: 10px;
	color: #666;
  font-size: 1.3em;
  cursor: pointer;
	transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.accordion > li ol li label {
  transform: translateX(-15%);
}
/* 機型打勾 */
.accordion > li ol li label i {
  font-size: .6em;
  padding: 10px;
}
.accordion > li ol li label i {
  visibility: hidden;
}
.accordion > li ol li .phoneOption:checked ~ label i {
  visibility:visible;
}
.accordion > li ol li .phoneOption:checked ~ label {
  color:rgb(255, 159, 159);
}
/* 顏色按鈕 */
.accordion > li ol li span {
    display: flex;
    align-items: center;
}
.accordion > li ol li input{
    display:none;
}
.accordion > li ol li .color {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 3px solid #fff;
}
.accordion > li ol li .color:hover {
    border: 3px solid rgb(255, 221, 221);
}
.accordion > li ol li input:checked ~ .color {
    border: 3px solid rgb(255, 159, 159)
}
/* 左白線 */
.accordion > li ol li::before {
	content: "";
	position: absolute;
	top: 10%;
	left: 0;
	width: 5px;
	height: 80%;
	background-color: #fff;
	transform: scaleY(0);
	transition: all 0.5s;
}
.accordion > li ol li:hover::before {
	transform: scaleY(1);
}
/* 選中轉三角符號 */
.accordion > li input:checked ~ label .fa-caret-right {
	transform: rotate(90deg);
}
/* 選中有高度 */
.accordion > li input:checked ~ ol li {
	height: 50px;
}

/* 滑入動畫 */
@keyframes anim {
    from {
        bottom: -100%;
    }
    to {
        bottom: 4%;
    }
}
@media screen and (max-width: 1200px) {
    .display {
        height: 580px;
    }
  }
  @media screen and (max-width: 1080px) {
    .display {
        height: 500px;
    }
  }
  @media screen and (max-width: 1025px) {
    .display {
        width: 100%;
        height: 650px;
    }
    .style {
        width: 100vw;
    }
    
  }
  @media screen and (max-width: 900px) {
    body {
      font-size: 16px;
    }
    .display {
        height: 550px;
    }
  }
  @media screen and (max-width: 700px) {
    .display {
        width: 100%;
        height: 450px;
    }
    .style {
        width: 100vw;
    }
  }
    @media screen and (max-width: 500px) {
      body {
        font-size: 14px;
      }
        .display {
            width: 100%;
            height: 320px;
        }
        .style {
            width: 100vw;
        }
  }
  @media screen and (max-width: 300px) {
    body {
      font-size: 12px;
    }
    .display {
        width: 100%;
        height: 200px;
    }
    .style {
        width: 100vw;
    }
  }

  /* 還不需用到搜尋 */
  nav form {
    visibility: hidden;
  }
  .search-icon {
    visibility: hidden;
  }
  


